div.share{
    ul{
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline;
            a{
                margin-right: 10px;
            }
        }
    }
}
